@import "tailwindcss";

@font-face {
    font-family: pixels;
    src: url(../public/assets/fonts/pixel_digivolve-webfont.woff2) format(woff2),
    url(../public/assets/fonts/pixel_digivolve-webfont.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: gameboy;
    src: url(../public/assets/fonts/early_gameboy-webfont.woff2) format(woff2),
    url(../public/assets/fonts/early_gameboy-webfont.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: console;
    src: url(../public/assets/fonts/RetraConsole.woff2) format(woff2),
    url(../public/assets/fonts/RetraConsole.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: Runaria;
    src: url(../public/assets/fonts/Ruritania.woff2) format(woff2),
    url(../public/assets/fonts/Ruritania.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: blackletter;
    src: url(../public/assets/fonts/BerkahiBlackletter.woff2) format(woff2),
    url(../public/assets/fonts/BerkahiBlackletter.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: seagram;
    src: url(../public/assets/fonts/Seagram.woff2) format(woff2),
    url(../public/assets/fonts/Seagram.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: faith;
    src: url(../public/assets/fonts/FaithCollapsing.woff2) format(woff2),
    url(../public/assets/fonts/FaithCollapsing.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: ithorn;
    src: url(../public/assets/fonts/Ithorn.woff2) format(woff2),
    url(../public/assets/fonts/Ithorn.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}


@theme{
    --font-pixels: pixels, "sans-serif";
    --font-gameboy: "gameboy", "sans-serif";
    --font-console: "console", "sans-serif";
    --font-runaria: "runaria", "sans-serif";
    --font-blackletter: "blackletter", "sans-serif";
    --font-seagram: "seagram", "sans-serif";
    --font-ithorn: "ithorn", "sans-serif";
    --font-fe: "faith", "sans-serif";
}

